rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Check if the user is in the adminUsers collection via firestore
    function isAdmin() {
      return request.auth != null && firestore.exists(/databases/(default)/documents/adminUsers/$(request.auth.uid));
    }

    match /audio/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
